* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
    }

    body {
       background: white;
       overflow-x: hidden;
    }

    
    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgb(65, 27, 0);
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 0%;
        align-items: center;
        /* z-index: 50; */
    }

    .header h1{
        margin-left: 34%;
        font-size: 80%;
        font-weight: bold;
        color: white;
        justify-items: center;
    }

    .header ul{
        margin-right: 5%;
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .header ul li a{
        font-size: 70%;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .header{
        background: rgb(65, 27, 0);
        text-align: center;
        padding: 1%;
    }


    .nav{
        position: fixed;
        top: 50px;
        display: flex;
        /* justify-content: space-between; */
        align-items: center; /* ini bikin teks sejajar tengah vertikal */
        padding: 15px 40px;
        background-color: #fff;
        /* z-index: 999; */
        max-width: 2570px;
        width: 100%;
        margin: auto;
        /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
    }

    .nav h2{
        margin-right: 36px;
        /* margin-left: 1%; */
        /* height: 23%; */
        font-size: 150%;
        font-family: 'Times New Roman', Times, serif;
    }

    .nav ul{
        list-style: none;
        margin-right: 48%;
        display: flex;
        gap: 30px;       
    }

    .nav ul li{
        color: black;
        font-size: 16px;
        font-family: "Times New Roman", Times, serif;
        font-weight: 500px;
    }

    .background{
        background-image: url("foto/background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 800px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5%;
       
    }

    .ngok h2 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 30px;  
        font-size: 200%;
        color: white; 
        
    }

    .ngok span {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 30px;
    }

    .ngok p {
        margin-top: 10px;
        font-size: 16px;
        color: white;
    }

    .ngok button {
        margin-top: 20px;
        padding: 12px 30px;
        font-size: 60%;
        border: none;
        /* border-radius: 25px; */
        background-color: #fff;
        color: #333;
        cursor: pointer;
        transition: 0.3s;
    }

    .ngok button:hover {
        background-color: #aa8158;
        color: white;
    }

    .row h2{
       margin-left: 1%;
        height: 23%;
        font-size: 150%;
        font-family: 'Times New Roman', Times, serif;
    }

    .name-product h3{
        top: 2%;
        margin-left: 1%;
        font-size: 16px;
        color: rgb(0, 0, 0);
        font-weight: 200;
    }

    .name-product h4{
        /* padding: 1%; */
        /* top: 5%; */
        margin-left: 1%;
        font-size: 16px;
        color: gray;
        font-weight: 200;
    }

    .name-product a{
        padding: 2%;
        /* top: 5%; */
        margin-left: 1%;
        font-size: 16px;
        color: gray;
        font-weight: 200;
    }

    .foto {
        display: grid;
        /* gap: 10px; */
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* grid-template-columns: auto auto auto; */
    }

    .item-card {
        /* border: 1px solid #ccc; */
        padding: 10px;
        background-color: #fff;
    }

    .item-card img {
       width: 100%;
       height: auto;
       /* object-fit: cover; */
    }

    .bg{
        background-image: url("foto/bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5%;
       
    }

    .text h5 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 90px;  
        font-size: 90%;
        color: white; 
        
    }

    .text h2 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 30px;  
        font-size: 200%;
        color: white; 
        gap: 30px;
    }

    .text p {
        margin-top: 10px;
        font-size: 16px;
        color: white;
    }

    .text button {
        margin-top: 20px;
        padding: 12px 30px;
        font-size: 60%;
        border: none;
        /* border-radius: 25px; */
        background-color: #fff;
        color: #333;
        cursor: pointer;
        transition: 0.3s;
    }

    .text button:hover {
        background-color: grey;
        color: white;
    }

    .ct {
        background: #5e1111; 
        padding: 50px 80px;
        color: white;
        font-family: 'Playfair Display', serif;
    }

    .header-ct {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 40px;
        /* border-bottom: 1px solid rgba(255,255,255,0.5); */
        padding-bottom: 10px;
    }

    .header-ct h2 {
       font-size: 26px;
       font-weight: 600;
    }

    .header-ct p {
       font-size: 14px;
       /* opacity: 0.9; */
    }

    .kumpulan-foto {
       display: grid;
       /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       gap: 25px;
    }

    .fotoo img {
       width: 100%;
       border-radius: 4px;
    }

    .fotoo h3 {
       font-size: 18px;
       margin: 10px 0 4px;
    }

    .fotoo p {
       font-size: 14px;
       opacity: 0.85;
       margin-bottom: 6px;
    }

    .fotoo a {
       font-size: 14px;
       color: white;
       text-decoration: underline;
       cursor: pointer;
    }

    

    .footer{
        background-color: white;
        color: black;
        font-size: 20px;
        /* text-align: center; */
        padding: 20px 20px;
        margin-top: 10px;
    }

    .container h6{
        padding: 1%;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        /* margin-left: 10%; */
    }

    .container{
        margin-left: 10%;
    }

    .container img{
        color: grey;
    }

    .idk{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 32%;
        margin-top: -1%;
        /* font-size: 80%; */
        
    }

    .p footer .idk h6{
        font-size: 90%;
        /* font-family: Arial, Helvetica, sans-serif; */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .idk ul{
        gap: 10%;   
    }

    .idk ul li{
        color: black;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        font-size: 60%;
        padding: 5px;
    }

    .idk2{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 45%;
        margin-top: -11%;
        /* font-size: 80%; */
        
    }

    .p footer .idk2 h6{
        font-size: 100%;
        /* font-family: Arial, Helvetica, sans-serif; */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .idk2 ul{
        gap: 15%;   
    }

    .idk2 ul li{
        color: black;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        font-size: 60%;
        padding: 5px;
    }

    .idk3{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 59%;
        margin-top: -9%;
        /* font-size: 80%; */
        
    }

    .p footer .idk3 h6{
        font-size: 100%;
        /* font-family: Arial, Helvetica, sans-serif; */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .idk3 ul{
        gap: 15%;   
    }

    .idk3 ul li{
        color: black;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        font-size: 60%;
        padding: 5px;
        
    }

    .idk4{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 72%;
        margin-top: -12%;
        /* font-size: 80%; */
        padding: 14px;
        
    }

    .p footer .idk4 h6{
        font-size: 100%;
        /* font-family: Arial, Helvetica, sans-serif; */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .idk4 ul{
        gap: 15%;   
    }

    .idk4 ul li{
        color: black;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        font-size: 60%;
        padding: 5px;
    }

    .p footer{
        display: flex;
        /* height: 18%; */
        padding-top: 30px;
    }

    .akhir{
        padding: 50px;
        background-color: #111111;
        color: rgb(255, 255, 255);
        font-size: 15px;
        text-align: center;
        padding: 50px;
        margin: 0;
        height: 20%;
        margin-top: 35px;
    }

    @media (max-width: 768px){
        .container{
            width: 70%;
            align-items: center;
        }
        .foto {
            grid-template-columns: auto;
        }
        .kumpulan-foto {
            grid-template-columns: auto;
        }
        .header{
            width: 70%;
        }
    }



   
    


    


    